.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: beige;
}
.form{
    display: flex;
    flex-direction: column;
    height :450px;
    width: 450px;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 3px 10px grey;
    border-radius: 20px;
    background-color: brown;
    color: white;
    gap: 15px;
    

}
.close{
    width: 30px;
    height: 30px;
    align-self: flex-end;
    cursor: pointer;
}