/* .homecontainer{
  background-image: url('../images/homepage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0; 
  background-color: white;
    
} */

.hero  li:hover{
    background: aquamarine;
    cursor: pointer;
    padding: 20px;

    

  
    
}
.hero{
  background-color: brown;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 20px;
    /* color: antiquewhite; */
    font: size 20px;
    cursor: pointer;
   
}
/* li{
    background-color: darkgray;
    padding:10px;
    border-radius:20px
} */
.appealing{
    /* border:2px solid white; */
    width:25%;
    box-shadow: 0 3px 10px wheat;
    padding:20px;
    margin-left: 30px;
    border-radius:20px;
    color:black;
    justify-content: center;


}
.music{
    background-color: black;
    color: white;
    width:100px;
    height:10px;
    border-radius:10px;
    margin:50px;
    padding:10px;
    justify-content:center;
    display: flex;
    align-items: center;

}
.hero-right img{
    width:400px;
    height:400px;
    size: 400px;
    border-radius: 20px;
}
.hero-section{
    display:flex;
    gap:400px;
}
