*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
  font-family:sans-serif
  background-color: wheat;
}
nav{
  background-color: brown;
  height: 100px;
  width: 100%;
}
label.logo{
  color: goldenrod;
  font-size: 5em;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  size : 5em;
  max-height:100px;
  max-width: auto;
  margin: 30px
;
border-radius: 100%;
}
label.logo:hover{
  cursor: pointer ;

}

  nav ul{
    float:right;
    margin-right:20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: goldenrod;
    font-size: 17px;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform:uppercase
  }
  a.active,a:hover{
    background: white;
    color: brown;
    transition: .5s;
  }
  .checkbtn{
   
    display: none;
  }
  #check{
    display: none;
  }
  .hero-section{
    display: flex;
    justify-content: space-between;
    background-image: url('../images/herosection.jpg');
    height: fit-content;
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;  
    min-height: 100vh; 
    background-blend-mode: darken; 
    backdrop-filter: brightness(0.7);
    background-color: rgba(0, 0, 0, 0.2);

  
    gap: 40px;
    position: relative;
    color: white;
    
  }
  .appealing{
    font-size: larger;
    max-width: 80%;
    height: 200px;
    padding: 30px;
    border-radius: 20px;
    color: white;
    background: rgba(0,0,0,0.4);
margin: auto;      
   
  
  
  }
  .hero-section h1{
    font: sans-serif poppins;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    z-index: 2;
    color: white; 
    filter: brightness(150%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .hero-section p{
    font-size: 1.5rem;
    margin-bottom: 30px;
    position: relative;
    z-index: 2; 
;  }
  .btn{
    background-color: goldenrod;
    color: white;
    cursor: pointer;
    width:150px;
    border-radius: 20px;
    justify-content: center; 
    align-items: center;
    margin :25px;
    padding: 10px;
    display: flex;

  }
  .btn:hover{
    background-color: black;
  }
  .music{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    margin-left: 200px;
  }
  .form{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 450px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 3px 10px grey;
    border-radius: 20px;
    background-color: brown;
    color: white;
    gap: 15px;
    aspect-ratio: auto;
    
  
  }
  .music iframe{
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    margin-left : 100px;

  }
  .music iframe:hover{
    box-shadow: 0 3px 10px wheat;
    transition: 0.5s;
  }
  .testimonials img{
  
border-radius: 20px; }
.footer {
  background-color: maroon;
  color: goldenrod;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  }
  .footer-list ul li a {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-evenly;  }
  .contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }


.footer {
  background-color: maroon;
  color: goldenrod;
  padding: 20px;
  }

.footer-list {
  list-style: none;
  display:column;
  gap: 40px;
  margin-top: 30px;
}

.footer-list li {
  font-size: 20px;
  gap: 20px;
}

.link-button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 16px;
  background-color: goldenrod;
  color: maroon;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
}

.link-button i {
  font-size: 20px;
}

.link-button:hover {
  background-color: white;
  color: maroon;
} 
.head{
 
  align-items: center;
  justify-content: center;
  display: flex;}
.testimonies{
  height: fit-content;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
  padding: 40px;
  gap: 40px;
  font: bold sans-serif poppins;
}
.testi1{
  width: 300px;
  height: auto;
  box-shadow: 0 3px 10px grey;
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.testi1 img{
  border-radius: 100%;
}

 
/*media queries/*/
 @media (max-width:768px) {
  body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  .appealing{
    width: 90%;
    padding: 20px;
    margin: auto;
    height: fit-content;
  }
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .hero-section h1 {
    margin-top: 20px;
  }
  .hero-section p {
    font-size: 1.5rem;
  } 
  .footer {
    flex-direction: column;
    text-align: center;
    justify-content: space-between; 
    padding: 20px; 
    margin: 20px;
    width: 100%;
    height: auto;
    bottom: 0;
  }    
  .footer-list li {
    flex-direction: column;
    text-align:center;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .music{
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content:center;
    margin: auto;
  }
  .music iframe
 {
    width: 100%;
    max-width: 350px;
    padding: 20px; 
    justify-content: center;
     align-items: center;
     margin: 0;
     border-radius:20px;
}
  .form {
    width: 90%;
    max-width: 350px;
    padding: 50px;
    justify-content: center;
     align-items: center;
}
  .image-wrapper img {
    width: 100%;
    height: auto;
    position: relative;
    
  }
  .image-wrapper {
    width: 100%;
    height: auto;
     justify-content: center;
     align-items: center;
position: fixed;}
  }
  @media (max-width:960px){
    .hero-section{
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }
    .hero-section h1 {
      margin-top: 20px;
    }
    .hero-section p {
      font-size: 1.5rem;
    }
    .music{
      flex-direction: column;
      align-items: center;
      padding: 20px;
      justify-content: center;
      margin: auto;
      gap:20px;
    }
  }
@media (max-width:768px){
  .music{
  flex-wrap: wrap;
  align-items:center;
  padding: 20px;
  justify-content:space-between;


}
.image-wrapper
.music .form {
width: 100%;
min-width: 450px;
padding: 50px;
height: auto;}
.image-wrapper img{
  width: 100%;
  height: auto;
  position: relative;

}
.form{
  width: 50vw;
  height: auto;
  margin: 0;
  max-width: 100%;

}
}
@media screen and (max-width: 400px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .hero-section h1 {
    margin-top: 20px;
  }

  .hero-section p {
    font-size: 1.5rem;
  }
  .testimonials img{
    display: none;
  }
  .music {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    margin: auto;
}
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 30px;

  }

  .appealing {
    width: 90%;
    padding: 20px;
  }
.music{
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
  .music img {
    width: 90%;
    height:90%;
      margin-bottom: 50px;

  }
  .music iframe {
    width: 90%;
    max-width: 450px;
    border-radius: 20px;
    margin: auto;
  }

}
@media (max-width: 960px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .music {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    margin: auto;
}

.music iframe {  width: 90%;
  max-width: 450px;
  border-radius: 20px;
  margin: auto;
} 
  .hero-section h1 {
    margin-top: 20px;
  }

  .hero-section p {
    font-size: 1.5rem;
  }
}
@media (max-width: 890px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .checkbtn {
    display: block;
    color: goldenrod;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    font-size: 30px;
    cursor: pointer;
  }

  nav ul {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: brown;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: right 0.4s ease;
    z-index: 999;
  }

  nav ul li {
    display: block;
    margin: 40px 0;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
  label.logo{
    font-size: 3em;
    margin: 20px;
  }
}
@media (max-width:400px){
    body{
        font-size: 14px;
        margin:0;
        padding:0;
        box-sizing: border-box;  
    }
  
}
 @media(max-width:1050px){
    label.logo{
    padding-left: 30px;
    font-size: 3.5em;
    }
    .nav ul li a{
      font-size: 16px;
    }
    .music{
      flex-direction: column;
      align-items: center;
      padding: 20px;
      justify-content: center;
      margin: auto;
    }
    .music iframe{
      width: 100%;
      /* max-width: 600px; */
      border-radius: 20px;
      margin: auto;
    }
  }
  @media (max-width:1545px){
    .music{
      margin: auto;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
  }
  @media(max-width:768px){
    .footer{
    flex-direction: column;
    text-align: center;
    justify-content: space-between; 
    padding: 20px; 
    margin: 20px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    position:relative;
    bottom: 0;
    transform: none;


 } 

    .footer-list li{
      font-size: 16px;
    } 
    .footer-list{
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      padding:20px ;
    } 
  }