*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@media (max-width:400px){
    body{
        font-size: 14px;
        margin:0;
        padding:0;
        box-sizing: border-box;  
    }
  
}
body{
  font-family:monospace
}
nav{
  background-color: brown;
  height: 100px;
  width: 100%;
}
label.logo{
  color: goldenrod;
  font-size: 5em;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  size : 5em;
  max-height:100px;
  max-width: auto;
  margin: 30px
;
border-radius: 100%;
}
label.logo:hover{
  cursor: pointer ;

}

  nav ul{
    float:right;
    margin-right:20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: goldenrod;
    font-size: 17px;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform:uppercase
  }
  a.active,a:hover{
    background: white;
    color: brown;
    transition: .5s;
  }
  .checkbtn{
   
    display: none;
  }
  #check{
    display: none;
  }
  @media(max-width:1050px){
    label.logo{
    padding-left: 30px;
    font-size: 3.5em;
    }
    .nav ul li a{
      font-size: 16px;
    }
  }
@media (max-width: 890px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .checkbtn {
    display: block;
    color: goldenrod;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    font-size: 30px;
    cursor: pointer;
  }

  nav ul {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: brown;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: right 0.4s ease;
    z-index: 999;
  }

  nav ul li {
    display: block;
    margin: 40px 0;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
  label.logo{
    font-size: 3em;
    margin: 20px;
  }
}



@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 30px;

  }

  .appealing {
    width: 90%;
    padding: 20px;
  }
.music{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
  .music img {
    width: 90%;
    height:max-content;
  }
  .testimonials img{
   min-width: 100%;
   min-height: 100%;
   object-fit: cover;

  }
}
.testimonials img {width: 100%;
  height: auto;
  object-fit: cover;
border-radius: 20px;
}
.misic iftame{
  width: 100%;
  height: 300px;
  border-radius: 20px;

}





@media screen and (max-width: 400px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .hero-section h1 {
    margin-top: 20px;
  }

  .hero-section p {
    font-size: 1.5rem;
  }


 
 

 
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: wheat;
}
.hero  li:hover{
    background:black;
    cursor: pointer;
    padding: 20px;
    gap: 20px;
    font-size: larger;

   
 
    
}

.link{

    color: goldenrod;
    text-decoration: none;
}
.header{
    margin-bottom: 20px;
    font: poppins;

}
.header:hover{
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.appealing{
  font-size: larger;
  max-width: 400px;
  box-shadow: 0 3px 10px wheat;
  padding: 30px;
  border-radius: 20px;
  color: white;
  background: rgba(0,0,0,0.4);
    
  


}
.hero-section{
    flex: 1;
    padding: 20px;
} 
.hero-section h1{
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero-section p{
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.music{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
  width: 100%;
  flex-wrap: wrap;
} 
.image-wrapper,
.music iframe,
.music .form {
max-width: 100%;
flex:1 1 400px;
} 


#random {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hero-section{ 
  background-image: url('../images/mwangazamelodies.jpeg');
  display:flex;
  height:fit-content;
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;  
  min-height: 100vh;             
  display: flex;
  align-items: center;
  padding: 50px;
  gap: 40px;
  position: relative;
  color: white; 


justify-content: space-around;
}
.hero-section h1,.hero-section p{
  position: relative;
  z-index: 2;
  color: white; 
}

.btn:hover{
    background-color: black;
}
.btn{
    
    background-color: goldenrod;
    color: white;
    cursor: pointer;
    width:150px;
    border-radius: 20px;
    justify-content: center; 
    align-items: center;
    margin:25%;
    padding: 10px;
}
.image-wrapper{
  position: relative;
  width: 400px;
  padding-bottom: 20%; 
  height: 400px;
  overflow: hidden;

}
.image-wrapper img{
  position:relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 20px;
} 
.music iframe{
    width: 400px;
    height:400px;
    box-shadow: 0 3px 10px grey;
    border-radius: 20px;
}


.form{
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 3px 10px grey;
    border-radius: 20px;
    background-color: brown;
    color: white;
    gap: 15px;
    aspect-ratio: auto;
    

}
.music .form {
  flex: 0 0 auto;     
  width: 320px;       
  max-width: 100%;     
  height: auto;
  margin: 0 auto;
}
.form input, .form textarea .form button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.form button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: goldenrod;
  color: brown;
  font-size: 16px;
  cursor: pointer;
}
.form button:hover {
  background-color: white;
  color: brown;
}
.close{
  width: 30px;
    height: 30px;
    align-self: flex-end;
    cursor: pointer;
}

@media (max-width:768px){
  .music{
  flex-direction:column;
  align-items:center;
  gap:20px;
  padding: 20px;


}
.image-wrapper
.music iframe,
.music .form {
width: 90%;
max-width: 350px;}
.image-wrapper img{
  width: 100%;
  height: auto;
  position: relative;

}
.form{
  /* width: 50vw;
  height: auto;
  margin: 0; */
  max-width: 100%;

}
}
.footer {
  background-color: maroon;
  color: goldenrod;
  padding: 20px;
}

.footer-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-list li {
  font-size: 16px;
}

.link-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: goldenrod;
  color: maroon;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.link-button i {
  font-size: 20px;
}

.link-button:hover {
  background-color: white;
  color: maroon;
}

  @media (max-width: 600px) {
  .footer-list {
    flex-direction: column;
    text-align: center;
  }
}
