*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .appealing {
    width: 90%;
  }
.music{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .music img {
    width: 90%;
    height:max-content;
  }
  .testimonials img{
    width: 100vh;
    height:100vw;

  }
}

@media screen and (max-width: 400px) {
    .music{
        flex-direction:column;
        max-height:auto;
        max-width: auto;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
  
    .form{
      margin: 100px;
      align-items: center;
      justify-content: center;
      padding: 20px;

    }
} 




@media screen and (max-width: 400px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .hero-section h1 {
    font-size: 1.5rem;
  }

  .hero-section p {
    font-size: 1rem;
  }


 
  .footer ul {
    flex-direction: column;
    gap: 10px;
    size:1.5em;;
  }
  .testimonials {flex-direction: column;
    width: 100vw;
    justify-content: center;
    margin: 10px;

  }
 
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: wheat;
}
.hero  li:hover{
    background:black;
    cursor: pointer;
    padding: 20px;
    gap: 20px;
    font-size: larger;

   
    
}
.NAV{
    margin: -20PX;
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
  transition: background-color 0.3s ease;
}
.NAV ul li a{
    text-decoration: none;
    color: goldenrod;


}
.hero{
  background-color: brown;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 20px;
    font: size 20px;
    cursor: pointer;
    color: goldenrod;
    height: 100px;
    margin: 20px;
    font-size: larger;
    text-decoration: none;
    position:sticky;
    top:0;
    padding: 0;


   
}
.link{

    color: goldenrod;
    text-decoration: none;
}
.header{
    margin-bottom: 20px;
}

.appealing{
     font-size: larger;
  max-width: 400px;
  box-shadow: 0 3px 10px wheat;
  padding: 30px;
  border-radius: 20px;
  color: white;
  background: rgba(0,0,0,0.4);
    
  


}
.music{
  display: flex;
  justify-content: center;
  padding: 40px;
  object-fit:contain;
  justify-content: space-between;
  height: max-content;
  gap:20px;
  align-items: center;  
  margin: 10px;
}

 .testimonials img{
min-width: 100%;
min-height: 100%;
/* width: 100%; */
border-radius:0;
object-fit:cover;
/* max-width: 100%; */
transition: transform 0.4s ease-in-out;
border-radius: 10px;
position:relative;
}

.hero-section{ 
    background-image: url('../images/herosection.jpg');
    display:flex;
    height:fit-content;
background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;  
  min-height: 100vh;             
  display: flex;
  align-items: center;
  padding: 50px;
  gap: 40px;
  position: relative;
  color: white; 

   
}

.footer{
    background-color: maroon;
    height: 100px;
    color: goldenrod;
    display: flex;
    font-size: larger;
    padding:20px;
    justify-content: space-between;
flex-direction: column;
    text-align: center;
    margin-top: 20px;

}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}
.btn:hover{
    background-color: black;
}
.btn{
    
    background-color: goldenrod;
    color: white;
    cursor: pointer;
    width:150px;
    border-radius: 20px;
    justify-content: center; 
    align-items: center;
    margin:25%;
    padding: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    height :450px;
    width: 450px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 3px 10px grey;
    border-radius: 20px;
    background-color: brown;
    color: white;
    gap: 15px;

}
.link-button {
  display: inline-block;
  padding: 10px 20px;
  background-color:goldenrod;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}   
 
