*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero  li:hover{
    background:black;
    cursor: pointer;
    padding: 20px;

    

  
    
}
.NAV{
    margin: -20PX;

}
.hero{
  background-color: brown;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 20px;
    font: size 20px;
    cursor: pointer;
    color: goldenrod;
    height: 100px;
    margin: 20px;
    font-size: larger;
    text-decoration: none;


   
}
.link{
    text-decoration: none;
    color: goldenrod;
}

.appealing{
    width:30%;
    box-shadow: 0 3px 10px wheat;
    padding:40px;
    margin-left: 30px;
    border-radius:20px;
    color:black;
    justify-content: center;
    height: 400px;
  


}
.music{
    background-color: white;
    color: black;
    width:100px;
    height:10px;
    border-radius:10px;
    margin:50px;
    padding:10px;
    justify-content:center;
    display: flex;
    align-items: center;

}
.hero-right img{
    width:400px;
    height:400px;
    size:500px;
    border-radius: 20px;
}
.hero-section{ 
    margin:50px;
    display:flex;
    height:100vh;
    width: 100vw;
    justify-content: space-around;
}
.footer{
    background-color: maroon;
    height: 100px;
    color: goldenrod;
    display: flex;
    font-size: larger;
    padding:20px;
    justify-content: space-between;


}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap:20em;

}
.btn:hover{
    background-color: black;
}
.btn{
    
    background-color: goldenrod;
    color: white;
    cursor: pointer;
    width:100px;
    border-radius: 20px;
    justify-content: center; 
    align-items: center;
    margin:30%;
    padding: 10px;
}
 
