*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: wheat
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}
.Nav  ul li{
    list-style-type: none;
    padding: 10px;
    font-size: larger;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.Nav ul li a{
    color: goldenrod;
    text-decoration: none;
    list-style-type: none;
}
.Nav{
    list-style-type: none;
    background-color:maroon;
    padding: 20px;
    color:goldenrod; 
    margin-top: -10px;
    font-size: larger;
    width: 100%;
}
.Nav ul li:hover{
    background:black;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;}
    .Hero{
        min-height: 100vh;
    }
   .content{
    justify-content:center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    gap: 20px;
   }
   /* .header{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
   } */
    .Hero{
        color: goldenrod;
        text-align: center;
        height: 100vh;
        padding: 20px;
        margin: 20px;
        font-size: larger;
        gap: 20px;}
.footer{
    background-color: maroon;
    height: 100px;
    color: goldenrod;
    display: flex;
    font-size: larger;
    padding:20px;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;

}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}