@media screen and (max-width: 768px) {
  .mission {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 45%;
align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    gap: 20px;
  }
}

    
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0;
    padding: 0;

}



.mission{
    display:flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-around;
    gap:10px;
    font-size: bold;
    font: sans-serif;
    height:100vh;
    align-items:center;

}

.mission1{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    border-radius: 20px;
    padding: 10px;
    height:400px;
    width:400px;
}
.footer{
    background-color: maroon;
    height: 100px;
    color: goldenrod;
    display: flex;
    margin-bottom:-50px;
    width: 100%
;


}
.footer li{
    list-style-type: none;
    display: flex;
    gap: 10PX;

}
.btn:hover{
    background-color: black;
}
.btn{
    
    background-color: goldenrod;
    color: white;
    cursor: pointer;
    width:100px;
    border-radius: 20px;
    justify-content: center; 
    align-items: center;
    margin:30%;
    padding:10px;
}
.gallery{
    text-align: center;
}


