@media screen and (max-width: 768px) {
  .mission {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 45%;
align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    gap: 20px;
  }
}

    
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    background-color: wheat;



}
nav{
  background-color: brown;
  height: 100px;
  width: 100%;
}
label.logo{
  color: goldenrod;
  font-size: 5em;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  size : 5em;
  max-height:100px;
  max-width: auto;
  margin: 30px
;
border-radius: 100%;
}
label.logo:hover{
  cursor: pointer ;

}
  nav ul{
    float:right;
    margin-right:20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: goldenrod;
    font-size: 17px;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform:uppercase
  }
  a.active,a:hover{
    background: goldenrod;
    color: brown;
    transition: .5s;
  }
  .checkbtn{
   
    display: none;
  }
  #check{
    display: none;
  }
  @media(max-width:1050px){
    label.logo{
    padding-left: 30px;
    font-size: 3.5em;
    }
    .nav ul li a{
      font-size: 16px;
    }
  }
@media (max-width: 890px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .checkbtn {
    display: block;
    color: goldenrod;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    font-size: 30px;
    cursor: pointer;
  }

  nav ul {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: brown;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: right 0.4s ease;
    z-index: 999;
  }

  nav ul li {
    display: block;
    margin: 40px 0;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
  label.logo{
    font-size: 3em;
    margin: 20px;
  }
}



.mission{
    display:flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-around;
    gap:10px;
    font-size: bold;
    font: sans-serif;
    height:100vh;
    align-items:center;

}

.mission1{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    border-radius: 20px;
    padding: 10px;
    height:400px;
    width:400px;
}
.footer{
    background-color: maroon;
    height: 100px;
    color: goldenrod;
    display: flex;
    margin-bottom:-50px;
    width: 100%
;


}
.footer li{
    list-style-type: none;
    display: flex;
    gap: 10PX;

}
.btn:hover{
    background-color: black;
}
.btn{
    
    background-color: goldenrod;
    color: white;
    cursor: pointer;
    width:100px;
    border-radius: 20px;
    justify-content: center; 
    align-items: center;
    margin:30%;
    padding:10px;
}
.gallery{
    text-align: center;
}


